// Markus Benning customization

@import 'https://fonts.googleapis.com/css?family=Inconsolata|Open+Sans';

body {
  font-family: 'Open Sans', sans-serif;
}

a:link { color: #333 }
a:visited { color: #333 }
a:hover { color: #555 }

.remark-code, .remark-inline-code {
  font-family: 'Inconsolata';
}

.created-on {
  padding-top: 100px;
  font-size: 16px;
}

.inverse .remark-slide-number {
  display: none;
}

.inverse {
  background-color: #333;
  color: #fff;
  vertical-align: bottom;
  text-align: left;
  text-shadow: 1px 1px black;
}

.background-title {
  background: url(backgrounds/title.jpg) no-repeat center center fixed; 
  background-size: cover;
}

.background-back {
  background: url(backgrounds/back.jpg) no-repeat center center fixed; 
  background-size: cover;
}

.head {
  border-bottom: 2px solid #333;
  padding-bottom: 15px;
  margin-bottom: 8px;
	h1 {
		font-size: 24px;
		margin: 2px;
	}
	h2 {
		font-size: 18px;
		font-weight: 400;
		margin: 2px;
	}
}

code {
  background: #e7e8e2;
  border-radius: 3px;
}

pre.console {
  background: #002b36;
  border-radius: 3px;
  font-family: 'Ubuntu Mono';
  color: #fdf6e3;
  padding: 5px;
}

// Animations
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.animation-fade {
  animation-duration: 300ms;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
  .remark-visible & { animation-name: fadeIn; }
}


// Fix PDF print with chrome
@page {
  // 908px 681px for 4/3 slides
  size: 1210px 681px;
  margin: 0;
}

@media print {
  .remark-slide-scaler {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important;
  }
}

// Positioning
.side-layer {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 0 2em;
}
.middle { &, & img, & span { vertical-align: middle; } };
.top { vertical-align: top; };
.bottom { vertical-align: bottom; };
.inline-block {
  p, ul, ol, blockquote {
    display: inline-block;
    text-align: left;
  }
}
.no-margin { &, & > p, & > pre, & > ul, & > ol { margin: 0; } }
.no-padding { padding: 0; }
.space-left { padding-left: 1em; }
.space-right { padding-right: 1em; }

// Positioning
.side-layer {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 0 2em;
}
.middle { &, & img, & span { vertical-align: middle; } };
.top { vertical-align: top; };
.bottom { vertical-align: bottom; };
.inline-block {
  p, ul, ol, blockquote {
    display: inline-block;
    text-align: left;
  }
}
.no-margin { &, & > p, & > pre, & > ul, & > ol { margin: 0; } }
.no-padding { padding: 0; }
.space-left { padding-left: 1em; }
.space-right { padding-right: 1em; }

// Simple 12-columns grid system
.row {
  width: 100%;
  &::after {
    content: '';
    display: table;
    clear: both;
  }
  &.table { display: table; };
  &.table [class^="col-"] {
    float: none;
    display: table-cell;
    vertical-align: inherit;
  }
}

[class^="col-"] {
  float: left;
  &.inline-block {
    float: none;
    display: inline-block;
  }
}

@for $i from 1 through 12 {
  .col-#{$i} {width: 100% / 12 * $i; }
}


